<div class="main-wrapper">
    <div class="container">
        <div class="title">
            <h1>Meal Plans</h1>
        </div>
        <div class="row ">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="gallery">
                    <a href="../../assets/img/pic1.jpg" data-lightbox="image" data-title="My caption">
                        <img class="ui bordered small image" src="../../assets/img/pic1.jpg">
                    </a>
                    <div class="caption-background"></div>
                    <div class="caption-text">
                        <p>Breakfast</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="gallery">
                    <a href="../../assets/img/pic2.jpg" data-lightbox="image" data-title="My caption">
                        <img class="ui bordered small image" src="../../assets/img/pic2.jpg">
                    </a>
                    <div class="caption-background"></div>
                    <div class="caption-text">
                        <p>Lunch</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="gallery">
                    <a href="../../assets/img/pic3.jpg" data-lightbox="image" data-title="My caption">
                        <img class="ui bordered small image" src="../../assets/img/pic3.jpg">
                    </a>
                    <div class="caption-background"></div>
                    <div class="caption-text">
                        <p>Free Food</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="gallery">
                    <a href="../../assets/img/pic4.jpg" data-lightbox="image" data-title="My caption">
                        <img class="ui bordered small image" src="../../assets/img/pic4.jpg">
                    </a>
                    <div class="caption-background"></div>
                    <div class="caption-text">
                        <p>Afternoon Meal</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="gallery">
                    <a href="../../assets/img/pic1.jpg" data-lightbox="image" data-title="My caption">
                        <img class="ui bordered small image" src="../../assets/img/pic1.jpg">
                    </a>
                    <div class="caption-background"></div>
                    <div class="caption-text">
                        <p>Breakfast</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="gallery">
                    <a href="../../assets/img/pic2.jpg" data-lightbox="image" data-title="My caption">
                        <img class="ui bordered small image" src="../../assets/img/pic2.jpg">
                    </a>
                    <div class="caption-background"></div>
                    <div class="caption-text">
                        <p>Lunch</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="gallery">
                    <a href="../../assets/img/pic3.jpg" data-lightbox="image" data-title="My caption">
                        <img class="ui bordered small image" src="../../assets/img/pic3.jpg">
                    </a>
                    <div class="caption-background"></div>
                    <div class="caption-text">
                        <p>Breakfast</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="gallery">
                    <a href="../../assets/img/pic4.jpg" data-lightbox="image" data-title="My caption">
                        <img class="ui bordered small image" src="../../assets/img/pic4.jpg">
                    </a>
                    <div class="caption-background"></div>
                    <div class="caption-text">
                        <p>Breakfast</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true
    })
    </script>
</div>