<div class="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="title">
					<h1>Delivering Fresh and tasty meals</h1>
				</div>
			</div>
			<div class="col-md-6">
				<div class="pills-wrapper">
					<ul class="nav nav-pills">
					    <li class="active"><a data-toggle="pill" href="#home">Fitmeals Box</a></li>
					    <li><a data-toggle="pill" href="#menu1">Meal Plans </a></li>
					  </ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="content-wrapper">
					<div class="tab-content">
					    <div id="home" class="tab-pane fade in active">
					      <div class="subtitle">
					      	<h2>How we Turn Fat into Fit?</h2>
					      </div>
					      <div class="content">
					      	<div class="row">
					      		<div class="col-md-4">
					      			<div class="inner-content">
					      				<img src="../../assets/img/planning.png" alt="">
					      				<div class="contentText">
					      					<p>Choose the meal plan that best suits you health goal.</p>
					      				</div>
					      			</div>
					      		</div>
					      		<div class="col-md-4">
					      			<div class="inner-content">
					      				<img src="../../assets/img/fried-chicken.png" alt="">
					      				<div class="contentText">
					      					<p>Freshly cooked meals are delivered in trays with nutrition count for each meal.</p>
					      				</div>
					      			</div>
					      		</div>
					      		<div class="col-md-4">
					      			<div class="inner-content">
					      				<img src="../../assets/img/heart.png" alt="">
					      				<div class="contentText">
					      					<p>Reorder to keep eating healthy and stay fit.</p>
					      				</div>
					      			</div>
					      		</div>
					      	</div>
					      </div>
					    </div>
					    <div id="menu1" class="tab-pane fade">
					      <table class="table">
					      	<thead>
					      		<th>High Calorie</th>
					      		<th>Low Calorie</th>
					      	</thead>
					      	<tbody>
					      		<tr>
					      			<td>Breakfast</td>
					      			<td>Lunch</td>
					      		</tr>
					      		<tr>
					      			<td>Breakfast</td>
					      			<td>Lunch</td>
					      		</tr>
					      	</tbody>
					      </table>

					    </div>
					  </div>
				</div>
			</div>
		</div>
	</div>
</div>